{% extends "base.html" %}

{% block content %}
    <div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Daily <small>{{ daily_metric_span }} day avg</small></h1>
                    <small>
                        <a href="/?daily_metric_span=7">7 day</a> -
                        <a href="/?daily_metric_span=14">14 day</a> -
                        <a href="/?daily_metric_span=30">30 day</a>
                    </small>
                </div>

                <div class="panel-body">
                    {% for avg, metric in daily_metrics %}
                        <div class="col-xs-6 col-sm-4 metric">
                            <canvas class="meter" data-value="{{ avg }}"></canvas>

                            <p>{{ metric.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Monthly <small>120 day avg</small></h1>
                </div>

                <div class="panel-body">
                    {% for avg, metric in monthly_metrics %}
                        <div class="col-xs-6 col-sm-4 metric">
                            <canvas class="meter" data-value="{{ avg }}"></canvas>

                            <p>{{ metric.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default notes">
                <div class="panel-heading">
                    <h1>Notes <small>10 most recent</small></h1>
                </div>

                <div class="panel-body">
                    {% for note in notes %}
                        <p class="note alert alert-success">{{ note.0 }} <br><small>&mdash; {{ note.1|timesince }} ago</small></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
