{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Daily <small>30 day avg</small></h1>

                </div>

                <div class="panel-body">
                    {% for metric in daily_metrics %}
                        <div class="col-xs-6 col-sm-4 metric">
                            <div class="meter">
                                <div class="dial dial-mid"></div>
                            </div>
                            <p>{{ metric.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Monthly <small>4 mon avg</small></h1>
                </div>

                <div class="panel-body">
                    {% for metric in monthly_metrics %}
                        <div class="col-xs-6 col-sm-4 metric">
                            <div class="meter">
                                <div class="dial dial-start"></div>
                            </div>
                            <p>{{ metric.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
