{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% if day_of_month == 1 %}
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Monthly Metrics</h1>
                    </div>

                    <div class="panel-body">
                        <form>
                            {% for metric in monthly_metrics %}
                                <div class="col-lg-6">
                                    <h3>{{ metric.name }}</h3>

                                    <p>
                                        <small>{{ metric.description_worst }}</small>
                                    </p>
                                    <p>
                                        <small>{{ metric.description_best }}</small>
                                    </p>

                                    <div class="metric_input">
                                        <span class="min_label">1</span>
                                        <input type="range" name="metric_{{ metric.pk }}" min="1" max="10">
                                        <span class="max_label">10</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Daily Metrics <small>for {{ date }}</small></h1>
                </div>

                <div class="panel-body">
                    <ng-form>
                        {% for metric in daily_metrics %}
                            <div class="col-lg-6">
                                <h3>
                                    <span
                                            class="label label-default"
                                            ng-bind="metrics[{{ metric.pk }}]"
                                            ng-class="{
                                                'label-danger': metrics[{{ metric.pk }}] <= 2,
                                                'label-warning': metrics[{{ metric.pk }}] <= 4,

                                                'label-default': metrics[{{ metric.pk }}] == 5,
                                                'label-info': metrics[{{ metric.pk }}] >= 6 && metrics[{{ metric.pk }}] < 9,
                                                'label-success': metrics[{{ metric.pk }}] >= 9}
                                            "
                                    >
                                        5
                                    </span>
                                    {{ metric.name }}
                                </h3>
                                <small>{{ metric.description_worst }}</small><br>
                                <small>{{ metric.description_best }}</small>

                                <div class="metric_input">
                                    <span class="min_label">1</span>
                                    <input id="asdf" type="range" name="metric_{{ metric.pk }}" ng-model="metrics[{{ metric.pk }}]" ng-init="metrics[{{ metric.pk }}] = 5" min="1" value="5" max="10">
                                    <span class="max_label">10</span>
                                </div>
                            </div>
                        {% endfor %}
                    </ng-form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="btn btn-success btn-lg btn-block">Save</div>
        </div>
    </div>
{% endblock %}
