{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Daily Metrics <small>for {{ date|date:"D M d" }}</small></h1>
                    <a href="/input/?date={{ yesterday_link|date:"d M Y" }}">
                        <small>previous day</small>
                    </a> -
                    <a href="/input/?date={{ tomorrow_link|date:"d M Y" }}">
                        <small>next day</small>
                    </a>
                </div>

                <div class="panel-body">
                    <ng-form name="metric_form">
                        {% csrf_token %}
                        {% for record in daily_metrics %}
                            <div class="col-lg-6">
                                <h3>
                                    <span
                                            class="label"
                                            ng-bind="metrics['{{ record.pk }}']['measurement']"
                                            ng-style="{'background-color': convert_measurement_to_hsl(metrics['{{ record.pk }}']['measurement'])}"
                                    >
                                        5
                                    </span>
                                    {{ record.metric.name }}
                                </h3>
                                <small>{{ record.metric.description_worst }}</small><br>
                                <small>{{ record.metric.description_best }}</small>

                                <div class="metric_input">
                                    <input
                                            type="range"
                                            name="metric_{{ record.pk }}"
                                            ng-model="metrics['{{ record.pk }}']['measurement']"
                                            ng-init="init_recording('{{ record.pk }}', 'measurement', {{ record.measurement }})"
                                            min="1"
                                            max="10"
                                            >
                                </div>

                                <textarea
                                        class="col-lg-12"
                                        ng-model="metrics['{{ record.pk }}']['notes']"
                                        ng-init="init_recording('{{ record.pk }}', 'notes', '{{ record.notes|default:""|addslashes }}')"
                                        >
                                </textarea>
                            </div>
                        {% endfor %}
                    </ng-form>
                </div>
            </div>
        </div>

        {% if day_of_month == 1 %}
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Daily Metrics
                            <small>for {{ date|date:"D M d" }}</small>
                        </h1>
                        <a href="/input/?date={{ yesterday_link|date:"d M Y" }}">
                            <small>previous day</small>
                        </a> -
                        <a href="/input/?date={{ tomorrow_link|date:"d M Y" }}">
                            <small>next day</small>
                        </a>
                    </div>

                    <div class="panel-body">
                        <ng-form name="metric_form">
                            {% csrf_token %}
                            {% for record in monthly_metrics %}
                                <div class="col-lg-6">
                                    <h3>
                                                <span
                                                        class="label"
                                                        ng-bind="metrics['{{ record.pk }}']['measurement']"
                                                        ng-style="{'background-color': convert_measurement_to_hsl(metrics['{{ record.pk }}']['measurement'])}"
                                                        >
                                                    5
                                                </span>
                                        {{ record.metric.name }}
                                    </h3>
                                    <small>{{ record.metric.description_worst }}</small>
                                    <br>
                                    <small>{{ record.metric.description_best }}</small>

                                    <div class="metric_input">
                                        <input
                                                type="range"
                                                name="metric_{{ record.pk }}"
                                                ng-model="metrics['{{ record.pk }}']['measurement']"
                                                ng-init="init_recording('{{ record.pk }}', 'measurement', {{ record.measurement }})"
                                                min="1"
                                                max="10"
                                                >
                                    </div>

                                    <textarea
                                            class="col-lg-12"
                                            ng-model="metrics['{{ record.pk }}']['notes']"
                                            ng-init="init_recording('{{ record.pk }}', 'notes', '{{ record.notes|default:""|addslashes }}')"
                                            >
                                    </textarea>
                                </div>
                            {% endfor %}
                        </ng-form>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="btn btn-lg btn-block btn-success" ng-click="save_metrics()" ng-bind="save_text" ng-class="{'btn-success': save_text != 'Error', 'btn-danger': save_text == 'Error'}">Save</div>
        </div>
    </div>
{% endblock %}
