@import "lesshat-prefixed.less";

.metric_input {
    position: relative;
    margin: 20px 0;

    .min_label, .max_label {
        position: absolute;
        top: 0;
    }

    input {
        margin: 0 20px;
        width: 65%;
    }
}

textarea {
    border-color: #e7e7e7;
    resize: vertical;
}
