@import "lesshat-prefixed.less";

body {
    padding: 70px 0;
}

.metric {
    text-align: center;

    .awful-shape { background-color: rgb(153, 153, 153); }
    .bad-shape { background-color: rgb(153, 153, 153); }
    .ok-shape { background-color: rgb(153, 153, 153); }

    /*
    .meter {
        position: relative;
        width: 150px;
        height: 75px;
        margin: 20px auto;

        .dial {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 75px;
            height: 1px;

            .lh-transform-origin(left bottom);

            &.dial-position-1 { .lh-rotate(180); }
            &.dial-position-2 { .lh-rotate(200); }
            &.dial-position-3 { .lh-rotate(220); }
            &.dial-position-4 { .lh-rotate(240); }
            &.dial-position-5 { .lh-rotate(260); }
            &.dial-position-6 { .lh-rotate(280); }
            &.dial-position-7 { .lh-rotate(300); }
            &.dial-position-8 { .lh-rotate(320); }
            &.dial-position-9 { .lh-rotate(340); }
            &.dial-position-10 { .lh-rotate(360); }
        }

        .dot {
            position: absolute;
            bottom: 0;
            left: 50%;

            margin: 0 0 -4px -4px;

            width: 8px;
            height: 8px;

            .lh-border-radius(50%);
        }
    }*/
}


