{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>PinPasscode Login</title>

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <style>
        body {
            text-align: center;
        }
        .btn {
            width: 100px;
            margin: 5px 0;
        }
        .numpad {
            padding: 20px 0;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 id="current_pin">Current Pin: <i>none</i></h1>

            <div class="numpad">
                <button class="btn btn-lg pin_input">1</button>
                <button class="btn btn-lg pin_input">2</button>
                <button class="btn btn-lg pin_input">3</button>
                <br>

                <button class="btn btn-lg pin_input">4</button>
                <button class="btn btn-lg pin_input">5</button>
                <button class="btn btn-lg pin_input">6</button>
                <br>

                <button class="btn btn-lg pin_input">7</button>
                <button class="btn btn-lg pin_input">8</button>
                <button class="btn btn-lg pin_input">9</button>
                <br>

                <button class="btn btn-lg pin_input">#</button>
                <button class="btn btn-lg pin_input">0</button>
                <button class="btn btn-lg btn-danger reset">RESET</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript">
    var current_pin = '';

    var reset_pin = function() {
        current_pin = '';
        update_pin_display();
    };

    var append_to_pin = function(input) {
        current_pin += input;
        update_pin_display();
        attempt_auth();
    };

    var update_pin_display = function() {
        the_pin = current_pin || '<i>none</i>';
        $('#current_pin').html("Current Pin: " + the_pin);
    };

    var attempt_auth = function() {
        $.post("{% url "pin_auth" %}", {"pin": current_pin})
            .success(function() {
                var params = getQueryParams(location.search);
                var url = location.origin;

                if(params["next"]) {
                    url += params["next"];
                }

                window.location = url;
            })
            .error(function(){
                console.log('error');
            });
    };

    $(document).ready(function() {
        $('.pin_input').click(function() {
            append_to_pin(this.innerHTML);
        });

        $('.reset').click(reset_pin);
    });

    // Get URL param
    function getQueryParams(qs) {
        qs = qs.split("+").join(" ");

        var params = {}, tokens,
                re = /[?&]?([^=]+)=([^&]*)/g;

        while (tokens = re.exec(qs)) {
            params[decodeURIComponent(tokens[1])]
                    = decodeURIComponent(tokens[2]);
        }

        return params;
    }

    // setup CSRF stuff
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
</body>
</html>
