{% extends "base.html" %}

{% load dictionary %}

{% block content %}
    <div class="container">
        <div id="monthly"></div>

        <br><br>

        <div id="weekly"></div>

        <br><br>

        <div id="day_of_week"></div>
    </div>


    <script type="text/javascript">
        $(function() {
            $('#monthly').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Month to month'
                },
                xAxis: {
                    categories: [
                        {% for m in months_y_axis %}
                            "{{ m }}",
                        {% endfor %}
                    ]
                },
                yAxis: {
                    ceiling: 10,
                    max: 10,
                    title: {
                        text: '1-10 rating'
                    },
                    labels: {
                        formatter: function() {
                            return this.value;
                        }
                    }
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                series: [
                    {% for m in metrics %}
                        {
                            name: "{{ m.name }}",
                            data: [
                                {% for measurement in monthly_measurements|get_item:m.name %}
                                    {{ measurement.1 }},
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            });

            $('#weekly').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Weekly'
                },
                yAxis: {
                    ceiling: 10,
                    max: 10,
                    title: {
                        text: '1-10 rating'
                    },
                    labels: {
                        formatter: function() {
                            return this.value
                        }
                    }
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                series: [
                    {% for m in metrics %}
                        {
                            name: "{{ m.name }}",
                            data: [
                                {% for measurement in weekly_measurements|get_item:m.name %}
                                    {{ measurement.1 }},
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            });

            $('#day_of_week').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Days of the week'
                },
                xAxis: {
                    categories: ['Mon', 'Tues', 'Weds', 'Thurs', 'Fri', 'Sat', 'Sun']
                },
                yAxis: {
                    ceiling: 10,
                    max: 10,
                    title: {
                        text: '1-10 rating'
                    },
                    labels: {
                        formatter: function() {
                            return this.value
                        }
                    }
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                series: [
                    {% for m in metrics %}
                        {
                            name: "{{ m.name }}",
                            data: [
                                {% for measurement in day_of_week_measurements|get_item:m.name %}
                                    {{ measurement.1 }},
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            });
        });
    </script>
{% endblock %}
