{% extends "base.html" %}

{% load dictionary %}
{% load static %}

{% block content %}
    <div class="container graph-container" ng-controller="StatsController" ng-init="init_graphs()">
        <div class="btn-group">
            <button class="btn btn-default" ng-class="{'btn-primary': is_graph_showing('month-to-month')}" ng-click="select_graph('month-to-month')">Month-to-month</button>
            <button class="btn btn-default" ng-class="{'btn-primary': is_graph_showing('week-to-week')}" ng-click="select_graph('week-to-week')">Week-to-week</button>
            <button class="btn btn-default" ng-class="{'btn-primary': is_graph_showing('day-to-day')}" ng-click="select_graph('day-to-day')">Day-to-day</button>
            <button class="btn btn-default" ng-class="{'btn-primary': is_graph_showing('last 7 days')}" ng-click="select_graph('last 7 days')">Last 7 days</button>
            <button class="btn btn-default" ng-class="{'btn-primary': is_graph_showing('last 30 days')}" ng-click="select_graph('last 30 days')">Last 30 days</button>
        </div>

        <div id="monthly" ng-show="is_graph_showing('month-to-month')"></div>
        <div id="weekly" ng-show="is_graph_showing('week-to-week')"></div>
        <div id="day_of_week" ng-show="is_graph_showing('day-to-day')"></div>
        <div id="last_7_days" ng-show="is_graph_showing('last 7 days')"></div>
        <div id="last_30_days" ng-show="is_graph_showing('last 30 days')"></div>
    </div>

    <script src="{% static "js/stats.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            var yAxis = {
                ceiling: 10,
                max: 10,
                floor: 0,
                tickInterval: 2,
                title: {
                    text: '1-10 rating'
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    }
                }
            };

            var plot_options = {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            };

            $('#monthly').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Month to month'
                },
                xAxis: {
                    categories: [
                        {% for m in months_y_axis %}
                            "{{ m }}",
                        {% endfor %}
                    ]
                },
                yAxis: yAxis,
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: plot_options,
                series: [
                    {% for m in metrics %}
                        {
                            name: "{{ m.name }}",
                            data: [
                                {% for measurement in monthly_measurements|get_item:m.name %}
                                    {{ measurement.1 }},
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            });

            $('#weekly').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Weekly'
                },
                yAxis: yAxis,
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: plot_options,
                series: [
                    {% for m in metrics %}
                        {
                            name: "{{ m.name }}",
                            data: [
                                {% for measurement in weekly_measurements|get_item:m.name %}
                                    {{ measurement.1 }},
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            });

            $('#day_of_week').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Days of the week'
                },
                xAxis: {
                    categories: ['Mon', 'Tues', 'Weds', 'Thurs', 'Fri', 'Sat', 'Sun']
                },
                yAxis: yAxis,
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: plot_options,
                series: [
                    {% for m in metrics %}
                        {
                            name: "{{ m.name }}",
                            data: [
                                {% for measurement in day_of_week_measurements|get_item:m.name %}
                                    {{ measurement.1 }},
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            });

            $('#last_7_days').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Days of the week'
                },
                xAxis: {
                    categories: [
                        {% for d in last_7_day_names %}
                            "{{ d }}",
                        {% endfor %}
                    ]
                },
                yAxis: yAxis,
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: plot_options,
                series: [
                    {% for m in metrics %}
                        {
                            name: "{{ m.name }}",
                            data: [
                                {% for measurement in last_7_days|get_item:m.name %}
                                    {{ measurement.1 }},
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            });

            $('#last_30_days').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Last 30 days'
                },
                xAxis: {
                    title: {
                        text: 'days ago'
                    },
                    tickInterval: 5,
                    categories: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30].reverse()
                },
                yAxis: yAxis,
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: plot_options,
                series: [
                    {% for m in metrics %}
                        {
                            name: "{{ m.name }}",
                            data: [
                                {% for measurement in last_30_days|get_item:m.name %}
                                    {{ measurement.1 }},
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            });
        });
    </script>
{% endblock %}
